{{ define "title" }}Admin Page{{ end }}

{{ define "content" }}
<blockquote class="layui-elem-quote layui-text">
  Layui 框体布局内容主体区域
</blockquote>
<div class="layui-card layui-panel">
  <div class="layui-card-header">
    下面是充数内容，为的是出现滚动条
  </div>
  <div class="layui-card-body">
    充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>你还真滑到了底部呀
  </div>
</div>
<br><br>
{{ end }}
